body {
	height: 100vh;
	overflow: hidden;
}

.bi-search {
	width: 4rem;
}

#search-suggestions {
	position: relative;
	width: 87.5%;
	
}

#search-suggestions ul {
	display: none;
	list-style: none;
	position: absolute;
	margin-left: 5px;
}

#search-suggestions li {
	padding: 4px 10px;
	cursor: pointer;
	border-radius: 10px;
}

#search-suggestions li:hover {
	background: #101010;
}

#meaning-container {
	width: 100%;
	height: 80vh;
	border-radius: 10px;
	overflow:auto;
}

#meaning-container #button {
	font-size: 15px;
	width: 27px;
	height: 27px;
}

#button span {
	display: flex;
	justify-content: center;
	align-items: center;
}

#meaning-container ul {
	list-style: none;
}

#meaning-container li::before {
	content: "- "
}

.head-area {
	border-bottom: 2px solid grey;
}
